body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #555555;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

a:hover {
  color: #00ffc7;
  text-decoration: none;
}

#download {
  background-color: #00ffc7;
  border-radius: 10px;
  color: black;
  cursor: pointer;
}

#actions {
  display: flex;
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #00ffc7;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #00ffc7;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

.team-info {
  margin: 2vw;
}

.team-info h3 {
  color: #aeaeae;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

#loser-team-title {
  color: rgb(235, 78, 78);
}

#winner-team-title {
  color: rgb(123, 123, 255);
}

/*
.matchInfo {
  width: 50vw;
}*/

#matchId {
  margin: 0 1vw;
}

#tournament {
  margin: 0 1vw;
}

#matchPhase {
  margin: 0 1vw;
}
#credits {
  width: 100vw;
  background-color: #00ffc7;
  bottom: 0;
  padding: 1.5vh;
  position: fixed;
}
#hero {
  width: 100%;
  height: 100vh;
  background: url('../img/hero-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

#hero .hero-logo {
  margin-bottom: 30px;
}

#logo {
  object-fit: contain;
  height: 15vh;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 30px;
  font-weight: 500;
  line-height: 56px;
  color: #fff;
  text-transform: uppercase;
}

#hero h2 {
  color: #aeaeae;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

#hero .btn-get-started {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 30px;
  border-radius: 3px;
  margin: 10px;
  color: #fff;
  background: #00ffc7;
}

#hero .btn-get-started:hover {
  transition: 0.5s;
  background: #fff;
  color: #00ffc7;
}

#navtitle {
  font-size: 25px;
  font-weight: 500;
  line-height: 56px;
  color: #fff;
  text-transform: uppercase;
}

#overlay {
  width: 1920px;
  height: 1080px;
  color: white;
  background-color: transparent;
}

#overlay-title {
  font-size: 65px;
  font-weight: bolder;
  padding: 40px;
  margin: 0;
  width: 100%;
}

#left-info {
  width: 920px;
  height: 980px;
}

#first-quadrant {
  height: 300px;
}

#second-quadrant {
  height: 190px;
}

#third-quadrant {
  height: 190px;
}

.last-quadrants {
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.last-quadrants .stats-result {
  font-size: 35px;
  padding: 0 15px;
}

.left-line {
  margin: auto;
  border: 1px solid;
  border-color: white;
  width: 870px;
}
.overlay-subtitle {
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

.overlay-subsubtitle {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

#vs {
  font-size: 64px;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
}

#winner-logo {
  /*background-color: winner;*/
  width: 180px;
  height: 180px;
}

#loser-logo {
  /*background-color: loser;*/
  width: 180px;
  height: 180px;
}

#right-info {
  width: 860px;
  height: 1080px;
}

#second-section {
  height: 390px;
}

.damage {
  width: 40%;
}

.damage .damage-individual {
  display: flex;
  align-items: center;
}

.damage-individual p {
  margin: 0 15px;
}

.damage img {
  width: 55px;
  height: 55px;
}

#loser-damage .damage-individual {
  justify-content: flex-end;
}

#first-section {
  height: 300px;
  padding-top: 47px;
  display: flex;
  flex-direction: column;
}

.stats-title {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  margin: 5px 0;
}

.stats-result {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
}

#third-section {
  height: 370px;
}

.right-line {
  margin: auto;
  border: 1px solid;
  border-color: white;
  width: 670px;
}

.stats {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.stats p {
  text-align: center;
  width: 25%;
}

.stats .stats-title {
  width: 30%;
}

.navbar {
  background: url('../img/hero-bg.png');
}

.champions {
  display: flex;
  height: 80px;
  justify-content: space-evenly;
}

.champions-images {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

/*
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    line-height: 22px;
  }
}
*/
